/* CSS declarations go here */
.cart-icon {
    color: #ffffff;
    border: none;
    padding: 10px 30px 10px 24px;
    border-radius: 0;
    position: relative;
    background-color: #129CBD;
    height: 50px;
}